.cabecera {
    background: rgb(245, 240, 242);
}

#info {
    background: #333;
    color: rgb(39, 33, 33);
    text-align: center;
    margin-top: 40px;
    padding: 20px 50px ;
    /* border: 4px solid rgb(235, 34, 34); */

    
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.info-pet {
  
    margin: 20px 25px;
    padding: 10px 25px;
    /* border: 4px solid rgb(51, 49, 49); */
    border-radius: 25px;
}

.info-pet img {
    width: 180px;
    height: 180px;
    border-radius: 15%;
    border: 4px solid rgb(230, 209, 209);
    object-fit: cover;
    
}

@media (max-width:479px){
    .info-pet {
        border: none;
    }

}
@media (min-width:480px){
    .info-pet {
        width: 50%;
    }

    .info-pet img {
        width: 155px;
        height: 250px;
         object-fit: cover;
    }
}

@media (min-width:1024px){
    .info-pet {
        width: 20%;
    }
}



@media screen and (max-width:960px) { 
 

    .mapita {
        display: none;
    }
    .banercito {
        display: none;
    }
    .admisions {
        /* padding-right: 50px; */
    
        display: flex;
       margin-right: 15%;
        /* border: 4px solid red; */
    }
    .tituloadmin {
        text-align: center;
    }
   
}

@media screen and (max-width:720px) { 
    .titulo-einstein {
        display: block;
        text-align: center;
        background: #cecdd493;
        margin-top: 50px;
        color: rgb(8, 15, 36);
        font-size: 27px;
        }

        .cabecera {
            display: none;

         }

}


@media screen and (min-width:721px) { 
    .titulo-einstein {
        display: none;
    }
    .cabecera {
        display: block;
    }
}